<link rel="stylesheet" href="/css/visualizer.css">

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#">Synthalize</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li> <!--
        <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="container panel panel-primary">
	<h1>Synthalize</h1>
	<p>This is our project for <a href="http://cs.northwestern.edu/~pardo/courses/eecs352/">EECS 352</a> with Bryan Pardo. You can read about it here or <a href="/">try it out!</a></p>

	<div id="profiles" class="row">
		<div class="col-md-4">
			<strong>Ahren Alexander</strong><br>
			<a href="mailto:ahrenalexander2012@u.northwestern.edu" target="_blank">ahrenalexander2012@u.northwestern.edu</a>
		</div>
		<div class="col-md-4">
			<strong>Noah Conley</strong><br>
			<a href="mailto:noahkconley@gmail.com" target="_blank">noahkconley@gmail.com</a>
		</div>
		<div class="col-md-4">
			<strong>Thomas Huang</strong><br>
			<a href="mailto:thomashuang2016@u.northwestern.edu" target="_blank">thomashuang2016@u.northwestern.edu</a>
		</div>
	</div>

	<h1>Introduction</h1>
	<p>Introduction here</p>

	<h1>Goals</h1>
	<p>Goals here</p>

	<h1>Process/Implementation</h1>
	<p>Process here</p>

	<h1>Results</h1>
	<p>Results here</p>

	<h1>Conclusions and Future Work</h1>
	<p>Conclusion here</p>
</div>

