<link rel="stylesheet" href="/css/visualizer.css">

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#">Synthalize</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	<!-- 
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4" id="semantics">
    <div class="col-md-10 col-md-offset-1" id="search">
      <form class="form-horizontal col-md-12">
        <input ng-model="query" id="searchbox" class="form-control" placeholder="Search"/>
        <label class="control-label col-md-5">sort by:</label>
        <div class="col-md-7">
          <select id="filter" class="form-control" ng-init="order='indices.length'" ng-model="order">
            <option value="tagName">ABC</option>
            <option value="indices.length">Count</option>
          </select>
        </div>
        <div class="col-md-12">
          <label class="radio-inline">
            <input ng-model="direction" type="radio" name="direction">Ascending
          </label>
          <label class="radio-inline">
            <input ng-model="direction" type="radio" name="direction" value="reverse" checked>Descending
          </label>
        </div>
      </form>
      <div class="col-md-12">
        <ul class="list-unstyled" id="selectedTags">
          <li class="selected-tag" ng-repeat="tag in selectedTags">
            <span class="name">{{ tag.tagName }}</span>
            <span ng-click="unchoose(tag, $event)" class="pull-right text-muted unselect">unselect</span>
            <span class="pull-right text-muted related">related</span>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <h3 class="placeholder text-center text-muted" ng-hide="query">
          Start typing in the search field to display tags
        </h3>
        <ul class="list-unstyled" id="semanticTags" ng-show="query">
          <li ng-click="choose(tag, $event)" ng-repeat="tag in tags | filter: query | orderBy: order: direction | limitTo: 100" class="tag">
            <span class="name">{{ tag.tagName }}</span>
            <span class="pull-right text-muted count">{{ tag.indices.length }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8" id="sounds">
    <audio controls autoplay id="mainSound">
			<source id="soundSource" type="audio/wav">
		</audio>

		<div class="centered" ng-hide="soundLoaded">
			<span class="fa fa-spinner fa-spin"></span>
		</div>

    <div ng-repeat="sound in sounds" class="col-md-3 col-sm-3">
    	<button id="sound{{sound.id}}" type="button" class="sound-btn" ng-click="setSound(sound)">
    		{{sound.original}}
        <i style="display:none;" class="fa fa-volume-up"></i>
  		</button>
    </div>
  </div>
</div>