<link rel="stylesheet" href="/css/visualizer.css">

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#">Synthalize</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      	<!-- 
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2" id="search">
    <div class="col-md-8 col-md-offset-2">
      <input id="searchbox" class="form-control" type="text" placeholder="Search"/>
    </div>

    <audio controls id="mainSound">
			<source id="soundSource" type="audio/wav">
		</audio>

		<div class="centered" ng-hide="soundLoaded">
			<span class="fa fa-spinner fa-spin"></span>
		</div>

    <div ng-repeat="sound in sounds" class="col-md-3 col-sm-3">
    	<button type="button" class="btn btn-default sound-btn" ng-click="setSound(sound)">
    		{{getWord(sound.descriptors)}}
  		</button>
    </div>
    
    <!--
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Lazer</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Piano</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Baseball</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Flute</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Trumpet</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Space Age</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Marimba</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Drip</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Plinko</button> 
    </div>
    <div class="col-md-4">
      <button type="button" class="col-md-10 col-md-offset-1 sound btn btn-default">Voltage Jump</button> 
    </div> -->
  </div>
</div>