#sounds div {
	margin-bottom: 15px;
}

#mainSound {
	display: block !important;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

#semanticTags {
	margin: 10px;
	.tag {
		margin: 10px;
	}
	:hover {
		cursor: pointer;
		.name, .count {
			color: #EE0000;
		}
	}
}

.sound-btn {
	width: 100%;
	border: none;
	background: #fff;
}